body {
    margin: 0;
    padding: 0;
    font-family: "Aldrich", sans-serif;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
    height: 100%; /* Assure que le body prend toute la hauteur de la page */
    color : #D9D9D9;
    font-size: xx-large;
}

#bgvid{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.no-scroll {
    overflow: hidden;
}

h1{
    font-size: 8rem;
    margin-bottom: 2%;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 6.6rem;
}

h4{
    margin: 0%;
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

.grid-flex-end{
    justify-self: flex-end;
}

.grid-flex-start{
    justify-self: flex-start;
}

.hero{
    width: 100vw;
    height: 100vh;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center

}

.hero-text{
    margin-left: 15%;
    max-width: 50%;
}


#popup{
    background-color: rgba(0,0,0,0.8);
    z-index: 100;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed; 
    justify-content: center;
    align-items: center;
    display: none;

}

.popup-content{
    background-color: #171717;
    border-radius: 50px;

    width: 85%;
    height: 75%;
    padding: 2%;

    display: flex;
}

.popup-no-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 5%;
}

#popup-image{
    width: 40%;
}

#popup-title{
    font-size: 4rem;
}

#popup-btn{
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 6%;

    font-size: 1.3rem;
    font-family: "Aldrich", sans-serif;
    font-weight: bold;
}

#popup-link{
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    color: #090709;
}

#popup-image{
    border-radius: 40px;
}

.project-section{
    background-color: #090709;
    background-image: url(../res/ProjectBackground.png);
    background-size: 100%;
    min-height: 100vh;
}

.project-section-title{
    margin-top: 0px;
    padding-top: 5%;
    margin-left: 5%;
}

.project-container{
    
    display: grid;
    grid-template-columns: 10fr 0.5fr 10fr;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    
    column-gap: 0%;
    row-gap: 0vh;
}

.project{

    background-color: #171717;
    border-radius: 50px;
    padding: 4vh;
    min-height: 40vh;
    display: flex;
}

.bar{
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;

    display: flex;
    justify-self: center;
    max-height: 80vh;
}

.project-video{
    display: flex;
    width: 100%;
    border-radius: 50px;

}

.project-no-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 55%;
}

.project-image{
    margin-left: 5%;

    border-radius: 20px;
    margin-left: 5%;
    max-width: 40%;
}
.project-image{
    width: 100%;
    height: 100%;
}

.project-btn{
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 10%;

    font-size: 1.3rem;
    font-family: "Aldrich", sans-serif;
    font-weight: bold;
}



.solar-system {
    background-color: #090709;
    position: relative;
    width: 100vw;
    display: flex;
}
  
#star-container{
    position: absolute;
    width: 40%;

}
  
#star {
    background-image: url(../res/sun.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 8;

    display: flex;
    justify-content: center;
}

.trajectory{
    position: absolute;
}

.skills-list{
    background-color: #090709;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 25%;
    padding-bottom: 15%;
}

.skill-desc{
    display: flex !important;
    justify-self: center;
    column-gap: 5%;
}

.skill-image-desc{
    width: 90px;
}

.skill-name{
    align-self: center;
    width: 100px;
}

#skills-title{
    font-size: clamp(1.5rem, 4vw, 4rem);
    color : #090709;
    text-align: center;
    width: 80%;
    padding-top: 0%;
    margin: 0px;
}



.skill {
    width: 5vw;
    height: 5vw;
    transform-origin: center;
    display: flex;

    margin-left: 1%;
    margin-right: 1%;
}

.skill-image{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.show-on-big{
    display: block;
}
.hide-grid-on-big{
    display: none;
}
.hide-on-small{
    display: block;
}

@media (max-width: 1440px){

    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 3.5rem;
    }

    h3{
        font-size: 5rem;
    }
    h4{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.3rem;
    }
    .show-on-big{
        display: none;
    }
    .med-screen{
        display: block;
    }

    .bar{
        display: flex;
        justify-self: center;
        max-height: 70vh;
    }

    .project{
        background-color: #171717;
        border-radius: 50px;
        padding: 4vh;
        min-height: 30vh;
        display: flex;
    }

    .project-no-image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        max-width: 100%;
        width: 100%;
    }
    
}

@media (max-width: 768px){

    .hide-grid-on-big{
        display: grid;
    }

    h1{
        font-size: 4.5rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 3.5rem;
    }
    h4{
        font-size: 2.2rem;
    }

    p{
        font-size: 1rem;
    }

    #skills-title{
        font-size: clamp(1rem, 4vw, 4rem);
        color : #090709;
        text-align: center;
        width: 80%;
        padding-top: 0%;
        margin: 0px;
    }

    .hide-on-small{
        display: none;
    }

    .project-container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        
        column-gap: 0%;
        row-gap: 5vh;
    }

    .project-video{
        display: flex;
        width: 100%;
        border-radius: 50px;
        margin-bottom: 20vh;
        justify-self: center;
    
    }

    .popup-content{
        background-color: #171717;
        border-radius: 50px;
    
        width: 85%;
        height: 85%;
        padding: 5%;
    
        display: flex;
        flex-direction: column;
        row-gap: 5%;
        align-items: center;
    }

    #popup-title{
        font-size: 2.2rem;
    }

    .popup-no-image{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        margin-right: 0%;
        max-height: 50%;
    }
    
    #popup-image{
        width: 100%;
        height: auto;
        max-height: 45%;
    }

    #popup-btn{
        background-color: #D9D9D9;
        border-radius: 50px;
        height: 10%;
    
        font-size: 1rem;
        font-family: "Aldrich", sans-serif;
        font-weight: bold;
    }

    .project-btn{
        font-size: 1rem;
    }
}

@media (max-width: 425px){

    .hide-grid-on-big{
        display: grid;
    }

    h1{
        font-size: clamp(3.5rem, 4vw, 4rem);
        text-align: center;
    }

    h2{
        font-size: 2.3rem;
        text-align: center;
    }

    h3{
        font-size: 2.8rem;
        text-align: center;
    }
    h4{
        font-size: 2rem;
    }

    p{
        font-size: 0.9rem;
        text-align: center;
    }

    .project p{
        text-align: left;
    }

    .hero-text{
        margin-left: 15%;
        margin-right: 15%;
        max-width: 100%;
    }

    #popup-title{
        font-size: 2rem;
    }

    #popup p{
        text-align: left;
    }

    .skill-image-desc{
        width: 50px;
    }
    
    .skill-name{
        align-self: center;
        width: 80px;
    }
}
